<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>


    <h2>Latest Mars News</h2>
    <h3>{{ mars_data.news_title }}</h3>
    <h4>{{ mars_data.news_preview }}</h4>


    <div class="row">
      <div class="col-md-6">
        <h2>Featured Mars Image</h2>
        <img src= "{{ mars_data.featured_image_url }}" alt="Featured Mars Image">
      </div>
      <div class="col-md-6 text-center">
        <div style="margin:110px auto 0 auto; float: none; display: block-inline;">
          {{  mars_data.html_table.replace("dataframe", "table-striped") | safe }} 
        </div>
      </div>
    </div>



    <hr>
    <h3>Mars Hemispheres</h2>
    <div class="row">
      <div class="col-md-4">
        <p>{{ mars_data.hemisphere_dict[0]['title'] }}</p>
        <img src="{{ mars_data.hemisphere_dict[0]['img_url'] }}" class="img-thumbnail" alt="Cerberus Hemisphere Enhanced">
      </div>
      <div class="col-md-4">
        <p>{{ mars_data.hemisphere_dict[1]['title'] }}</p>
        <img src="{{ mars_data.hemisphere_dict[1]['img_url'] }}" class="img-thumbnail" alt="Schiaparelli Hemisphere Enhanced">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>{{ mars_data.hemisphere_dict[2]['title'] }}</p>
        <img src="{{ mars_data.hemisphere_dict[2]['img_url'] }}" class="img-thumbnail" alt="Syrtis Major Hemisphere Enhanced">
      </div>
      <div class="col-md-4">
        <p>{{ mars_data.hemisphere_dict[3]['title'] }}</p>
        <img src="{{ mars_data.hemisphere_dict[3]['img_url'] }}" class="img-thumbnail" alt="Valles Marineris Hemisphere Enhanced">
      </div>
    </div>

</body>

</html>