<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>MISSION TO MARS</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h1>Latest Mars News</h1>
    <h2>{{ mars_data.news_title }}</h2>
    <h3>{{ mars_data.news_preview }}</h3>
<div>
    <h1>Featured Mars Image</h1>
    <!-- <h2>{{ mars.hemisphere_image_urls[0]["title"] }}</h2> -->
    <table class="table-striped">
    {% for item in mars.hemisphere_image_urls %}
    <tr>
      <td>
        {{ item ["title"] }}
      </td>
      <td>
        <img src ="{{ item ['img_url'] }}" height=100 width=100> </img>
      </td>
    </tr>
    {% endfor %}
    </table>
 

    <a target="_blank" href="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg">
    <img src="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg" alt="Featured Image" />



  </div>
</body>

</html>